@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1675007488041') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\343a";
}

.icon-sousuo:before {
  content: "\f00a8";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-mudedi:before {
  content: "\e627";
}

