<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<style>


</style>

<body>
    <div id="app">
        <ul>
            <!-- 遍历数组 -->
            <li v-for="(item,index) in list" :key="item">
                <p>{{item}}</p>
                <p>下标{{index}}</p>
            </li>
            <!-- 遍历对象 -->
            <!-- 遍历数值 -->
            <li v-for="num,index in list.length">{{num}}----{{index}}</li>
        </ul>
    </div>

    <script>
        // 绑定key的作用列表渲染


        const app = new Vue({
            data() {
                return {
                    list: [1, 2, 4, 253, 5346, 735],
                }
            },
            methods: {

            },
        });
        app.$mount('#app')
        console.log(document.querySelectorAll('li'));
    </script>
</body>

</html>